<div id="content" >
<!-- Sidebar  -->
        <nav id="sidebar">
            <div id="dismiss">
                <i class="fas fa-times"></i>
            </div>

            
            <div class="sidebar-content"><!-- sidebar content -->
              <form class="mt-4 p-3 ">
                    <h5 class="filter-heading">Filter</h5>
                        <div class="form-group">
                          <select id="inputState" class="form-control">
                            <option selected>Category</option>
                            <option>...</option>
                          </select>
                        </div>

                         <div class="form-group">
                          <label for="formControlRange" class="small-text price-range">Price Range</label>
                          <input type="range" class="form-control-range" id="formControlRange">
                          <p class="small-text price-range-number">From $<span>0</span> to $<span>2,000</span></p>
                        </div>

                        <div class="form-group">
                          <button type="button" class="btn btn-outline-secondary open-now-filter-btn"><span class="filter-custom-icon"><i class="fas fa-history"></i></span> Open Now</button>
                        
                           <button type="button" class="btn btn-outline-secondary highest-filter-btn"><span class="filter-custom-icon"><i class="fas fa-star"></i></span> Highest Rated</button>
                        
                           <button type="button" class="btn btn-outline-secondary reviewed-filter-btn"><span class="filter-custom-icon"><i class="far fa-comment"></i></span> Most Reviewed</button>
                        </div>


                        <div class="form-group">
                            <p class="small-text filter-tag">Filter by Tags</p>
                          <div class="form-check ">
                            <input class="form-check-input check-box-cutom" type="checkbox" value="" id="Body_Piercing" required>
                            <label class="form-check-label small-text filter-tag-content" for="Body_Piercing"> Body Piercing </label>
                          </div>
                          <div class="form-check ">
                            <input class="form-check-input check-box-cutom" type="checkbox" value="" id="Cosmetologists" required>
                            <label class="form-check-label small-text filter-tag-content" for="Cosmetologists"> Cosmetologists </label>
                          </div>
                          <div class="form-check ">
                            <input class="form-check-input check-box-cutom" type="checkbox" value="" id="Health_resort" required>
                            <label class="form-check-label small-text filter-tag-content" for="Health_resort"> Health Resorts </label>
                          </div>
                          <div class="form-check ">
                            <input class="form-check-input check-box-cutom" type="checkbox" value="" id="Hair_brading" required>
                            <label class="form-check-label small-text filter-tag-content" for="Hair_brading"> Hair Braiding </label>
                          </div>
                          <div class="form-check ">
                            <input class="form-check-input check-box-cutom" type="checkbox" value="" id="Medical_spa" required>
                            <label class="form-check-label small-text filter-tag-content" for="Medical_spa"> Medical Spas </label>
                          </div>
                          <div class="form-check ">
                            <input class="form-check-input check-box-cutom" type="checkbox" value="" id="Yoga_Instruction" required>
                            <label class="form-check-label small-text filter-tag-content" for="Yoga_Instruction"> Yoga Instruction </label>
                          </div>
                          <div class="form-check ">
                            <input class="form-check-input check-box-cutom" type="checkbox" value="" id="Electrolysis" required>
                            <label class="form-check-label small-text filter-tag-content" for="Electrolysis"> Electrolysis </label>
                          </div>
                          <div class="form-check ">
                            <input class="form-check-input check-box-cutom" type="checkbox" value="" id="Permanent_make_up" required>
                            <label class="form-check-label small-text filter-tag-content" for="Permanent_make_up"> Permanent Make-Up </label>
                          </div>
                          <div class="form-check ">
                            <input class="form-check-input check-box-cutom" type="checkbox" value="" id="Tattoo_Removal" required>
                            <label class="form-check-label small-text filter-tag-content" for="Tattoo_Removal"> Tattoo Removal </label>
                          </div>
                          <div class="form-check ">
                            <input class="form-check-input check-box-cutom" type="checkbox" value="" id="Barbers" required>
                            <label class="form-check-label small-text filter-tag-content" for="Barbers"> Barbers </label>
                          </div>
                        </div>

                    </form>
            </div><!-- sidebar content -->
        </nav>



    
     <!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
   <div class="container">
    <a href="/">
      <img src="assets/logo.png" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="   navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          EXPLORE <i class="fas fa-chevron-down"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">BLOG</a>
      </li>
      <li class="nav-item">
          <a class="nav-link login" href="#"><i class="far fa-user-circle"></i>&nbsp;LOGIN/SIGNUP</a>
        </li>
    </ul>
    <form class="form-inline my-2 my-lg-0 form-row-mobile">
      <button class="btn btn-outline-success mr-sm-2 my-2 my-sm-0 contactus" type="submit">CONTACT US</button>
      <button class="btn btn-success my-2 my-sm-0 addlisting" type="submit">ADD LISTING</button>
    </form>
  </div>
   </div>
</nav>
<!-- navigation ends-->



<!-- breadcrumb -->
  <div class="container">
      <nav aria-label="breadcrumb ">
          <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Search Listing</li>
        </ol>
      </nav>
  </div>
<!-- breadcrumb -->

<div class="container">
    <div class="row">
        <div class="col-md-3 py-3"> <!-- left side -->

            <div class="col-md-12 mb-3 map-col-padding-remove"> 
                <div id="map-container-google-2" class="z-depth-1-half map-container">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13251.273458103715!2d151.1871235635162!3d-33.86857162612824!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12afcc18c48e5b%3A0x2e96243ea406a298!2sAnzac+Bridge%2C+Pyrmont+NSW+2009%2C+Australia!5e0!3m2!1sen!2sin!4v1549010804118" width="100%" height="130" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>

                 <form action="/list" class="p-3 search-form">
                   <div class="form-row">
                      <div class="form-group col-md-12">
                        <p class="search-title">Search</p>
                          <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text small-text search-what" id="inputGroupPrepend">What</span>
                              </div>
                              <input type="text" class="form-control searchbox-what" name="what" id="what" placeholder="Any Keywords..." aria-describedby="inputGroupPrepend" >
                            </div>
                      </div>
                    </div>

                    <div class="form-row">
                      <div class="form-group col-md-12">
                          <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text small-text search-where" id="inputGroupPrepend">Where</span>
                              </div>
                              <input type="text" class="form-control searchbox-where" name="city" id="city" placeholder="City, postcode...." aria-describedby="inputGroupPrepend" >
                            </div>
                      </div>
                    </div>
                    <button type="submit" id="search-list" class="btn btn-success btn-sm btn-block mb-2"><i class="fas fa-search"></i> Search</button>
                  </form>

                  <form class="mt-4 p-3 d-none d-sm-block">
                    <h5 class="filter-heading">Filter</h5>
                        <div class="form-group">
                          <select id="inputState" class="form-control">
                            <option selected>Category</option>
                            <option>...</option>
                          </select>
                        </div>

                         <div class="form-group">
                          <label for="formControlRange" class="small-text price-range">Price Range</label>
                          <input type="range" class="form-control-range" id="formControlRange">
                          <p class="small-text price-range-number">From $<span>0</span> to $<span>2,000</span></p>
                        </div>

                        <div class="form-group">
                          <button type="button" class="btn btn-outline-secondary open-now-btn">Open Now <span class="btn-custom-icon"><i class="fas fa-history"></i></span></button>
                        </div>
                        <div class="form-group">
                           <button type="button" class="btn btn-outline-secondary highest-btn">Highest Rated <span class="btn-custom-icon"><i class="fas fa-star"></i></span></button>
                        </div>
                        <div class="form-group">
                           <button type="button" class="btn btn-outline-secondary reviewed-btn">Most Reviewed <span class="btn-custom-icon"><i class="far fa-comment"></i></span></button>
                        </div>

                        <div class="form-group">
                            <p class="small-text filter-tag">Filter by Tags</p>
                          <div class="form-check ">
                            <input class="form-check-input check-box-cutom" type="checkbox" value="" id="Body_Piercing" required>
                            <label class="form-check-label small-text filter-tag-content" for="Body_Piercing"> Body Piercing </label>
                          </div>
                          <div class="form-check ">
                            <input class="form-check-input check-box-cutom" type="checkbox" value="" id="Cosmetologists" required>
                            <label class="form-check-label small-text filter-tag-content" for="Cosmetologists"> Cosmetologists </label>
                          </div>
                          <div class="form-check ">
                            <input class="form-check-input check-box-cutom" type="checkbox" value="" id="Health_resort" required>
                            <label class="form-check-label small-text filter-tag-content" for="Health_resort"> Health Resorts </label>
                          </div>
                          <div class="form-check ">
                            <input class="form-check-input check-box-cutom" type="checkbox" value="" id="Hair_brading" required>
                            <label class="form-check-label small-text filter-tag-content" for="Hair_brading"> Hair Braiding </label>
                          </div>
                          <div class="form-check ">
                            <input class="form-check-input check-box-cutom" type="checkbox" value="" id="Medical_spa" required>
                            <label class="form-check-label small-text filter-tag-content" for="Medical_spa"> Medical Spas </label>
                          </div>
                          <div class="form-check ">
                            <input class="form-check-input check-box-cutom" type="checkbox" value="" id="Yoga_Instruction" required>
                            <label class="form-check-label small-text filter-tag-content" for="Yoga_Instruction"> Yoga Instruction </label>
                          </div>
                          <div class="form-check ">
                            <input class="form-check-input check-box-cutom" type="checkbox" value="" id="Electrolysis" required>
                            <label class="form-check-label small-text filter-tag-content" for="Electrolysis"> Electrolysis </label>
                          </div>
                          <div class="form-check ">
                            <input class="form-check-input check-box-cutom" type="checkbox" value="" id="Permanent_make_up" required>
                            <label class="form-check-label small-text filter-tag-content" for="Permanent_make_up"> Permanent Make-Up </label>
                          </div>
                          <div class="form-check ">
                            <input class="form-check-input check-box-cutom" type="checkbox" value="" id="Tattoo_Removal" required>
                            <label class="form-check-label small-text filter-tag-content" for="Tattoo_Removal"> Tattoo Removal </label>
                          </div>
                          <div class="form-check ">
                            <input class="form-check-input check-box-cutom" type="checkbox" value="" id="Barbers" required>
                            <label class="form-check-label small-text filter-tag-content" for="Barbers"> Barbers </label>
                          </div>
                        </div>

                    </form>

        </div> <!-- left side -->

        <div class="col-md-9 "> <!-- right side -->
            
            <div class="row"> <!-- top filter search -->
                <div class="col-5 col-sm-5">
                  <p class="result-found-text my-3"><%= @count %> Result Found</p>
                </div>
                <div class="col-7 col-sm-7">
                  <form class="form-inline result-form  d-none d-sm-block">
                    <div class="form-group  input-group-sm">
                      <label class="result-found-text" for="per-pg">Per Pg</label>
                      <input type="text" id="per-pg" class="form-control mx-sm-3 col-md-1 col-sm-1 text-center" value="2">
                   
                    <label class="result-found-text mr-2" for="sort-pg">Sort by</label>
                      <select class="custom-select form-control-sm my-1 mr-sm-2  input-group-sm" id="sort-pg">
                        <option selected>Latest</option>
                        <option value="0">relevance</option>
                        <option value="1">Sort by low price</option>
                        <option value="2">Sort by high price</option>
                        <option value="3">Three</option>
                      </select>

                      <div> <a href="#"><i class="fas fa-th"></i></a> </div>
                      <div class="mx-2">  <a href="#"> <i class="fas fa-bars"></i> </a></div>
                      </div>
                      </form>
                      
                      <button type="button" id="sidebarCollapse" class="btn btn-info d-sm-block d-md-none filter-icon">
                        <i class="fas fa-filter my-3"></i>
                    </button>

                      </div>
                  </div><!-- top filter search -->

                  <div class="container">
                      <div class="row mx-auto"><!-- card details row -->

                        <% @results.each do |result| %>
                        <div class="col-md-5  py-2 card-column"> <!-- shop details card  -->
                            <div class="card mb-4 shop-card">
                             <img src="assets/women.jpg" alt="magnify" class="card-image img-fluid">
                             <button class="btn btn-success featured-img-button" type="submit">Featured</button>
                              <div class="card-body pt-2">
                                <div class="row">
                                    <div class="col-md-8">
                                      <p class="shop-title"><%= result.name %></p>
                                    </div>
                                    <div class="col-12 col-md-4  col-sm-12 ">
                                      <p class=" text-center small-text open">open</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6 col-md-6 col-sm-6">
                                      <p><span class="rating-number">4.0</span> <span class="rating-count">(678 Rating)</span></p>
                                    </div>
                                    <div class="col-6 col-md-6 col-sm-6">
                                      <p class=" text-right small-text rating-count">From <span class="price-display">$3.00</span></p>
                                    </div>
                                </div>
                                <hr/>
                                <div class="row">
                                <div class="col-1 col-sm-1 col-md-1 "><i class="fas fa-phone-volume address-icons mr-3"></i> </div>
                                <div class="col-10 col-sm-10 col-md-10 "><p class="shop-number mb-2"><%= result.phone_number %></p></div>
                                </div>
                                <div class="row">
                                <div class="col-1 col-sm-1 col-md-1"><i class="fas fa-link address-icons mr-3"></i> </div>
                                <div class="col-10 col-sm-10 col-md-10"><p class="mb-2"><a target="_blank" href="<%= result.website %>" class="visit-website"><%= result.website %></a></p></div>
                                </div>
                                <div class="row">
                                <div class="col-1 col-sm-1 col-md-1"><i class="fas fa-map-marker-alt address-icons mr-3"></i></div>
                                <div class="col-10 col-sm-10 col-md-10"><p class="shop-address mb-2" > <%= result.short_address %> </p></div>
                                </div>


                              </div>
                            </div>
                        </div> <!-- shop details card  -->
                        <% end %>

                      </div><!-- card details row -->
                  </div>

<%= paginate @results %>
<!--                   <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                      <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                        </a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                        </a>
                      </li>
                    </ul>
                  </nav> -->

            </div> <!-- right side -->

        </div> 
    </div>
</div>


 
 

<!-- carousel starts -->

<div id="carouselExampleIndicators" class="carousel more-slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>

  <div class="container">
    <p class="more-like-this mb-5">More Like This </p>
  </div>


  <div class="carousel-inner">

    <div class="carousel-item active">
          
      <div class="container">
        <div class="row">
         <div class="card shadow-sm card-more-like card-one"><!--card -->
                   <div class="col-md-12">
                     <div class="row">
                            <div class="col-md-4 remove-padding-right padding-right">
                              <img src="assets/women.jpg" class="more-img img-fluid">
                            </div>
                            <div class="col-md-8 ">
                              <div class="card-block ">
                                <p class="card-title">HairCuts Room</p>
                                <p class="card-text"><span class="rating-number small-text">4.0</span> <span class="rating-count small-text">(678 Rating)</span></p>
                                <hr class="card-hr" />
                                <div class="row">
                                      <div class="col-1 col-sm-1 col-md-1 "><i class="fas fa-map-marker-alt text-muted "></i> </div>
                                      <div class="col-10 col-sm-10 col-md-10 "><p class="card-text more-phone">  (510) 524-6480</p></div>
                                      </div>
                                      <div class="row">
                                      <div class="col-1 col-sm-1 col-md-1"><i class="fas fa-map-marker-alt text-muted "></i> </div>
                                      <div class="col-10 col-sm-10 col-md-10"><p class="card-text more-website">  <a href="#">Visit Website</a></p></div>
                                      </div>
                                      <div class="row">
                                      <div class="col-1 col-sm-1 col-md-1"><i class="fas fa-map-marker-alt text-muted "></i></div>
                                      <div class="col-10 col-sm-10 col-md-10"><p class="card-text more-card-address">  800 San Pable Ave, Albany, CA</p></div>
                                      </div>
                              </div>
                            </div>
                   </div>
                   </div>
              </div><!--card -->

              <div class="card shadow-sm card-more-like card-two"><!--card -->
                   <div class="col-md-12">
                     <div class="row">
                            <div class="col-md-4 remove-padding-right padding-right">
                              <img src="assets/women.jpg" class="more-img img-fluid">
                            </div>
                            <div class="col-md-8 ">
                              <div class="card-block ">
                                <p class="card-title">HairCuts Room</p>
                                <p class="card-text"><span class="rating-number small-text">4.0</span> <span class="rating-count small-text">(678 Rating)</span></p>
                                <hr class="card-hr" />
                                <div class="row">
                                      <div class="col-1 col-sm-1 col-md-1 "><i class="fas fa-map-marker-alt text-muted "></i> </div>
                                      <div class="col-10 col-sm-10 col-md-10 "><p class="card-text more-phone">  (510) 524-6480</p></div>
                                      </div>
                                      <div class="row">
                                      <div class="col-1 col-sm-1 col-md-1"><i class="fas fa-map-marker-alt text-muted "></i> </div>
                                      <div class="col-10 col-sm-10 col-md-10"><p class="card-text more-website">  <a href="#">Visit Website</a></p></div>
                                      </div>
                                      <div class="row">
                                      <div class="col-1 col-sm-1 col-md-1"><i class="fas fa-map-marker-alt text-muted "></i></div>
                                      <div class="col-10 col-sm-10 col-md-10"><p class="card-text more-card-address">  800 San Pable Ave, Albany, CA</p></div>
                                      </div>
                              </div>
                            </div>
                   </div>
                   </div>
              </div><!--card --> 

              <div class="card shadow-sm card-more-like card-three"><!--card -->
                   <div class="col-md-12">
                     <div class="row">
                            <div class="col-md-4 remove-padding-right padding-right">
                              <img src="assets/women.jpg" class="more-img img-fluid">
                            </div>
                            <div class="col-md-8 ">
                              <div class="card-block ">
                                <p class="card-title">HairCuts Room</p>
                                <p class="card-text"><span class="rating-number small-text">4.0</span> <span class="rating-count small-text">(678 Rating)</span></p>
                                <hr class="card-hr" />
                                <div class="row">
                                      <div class="col-1 col-sm-1 col-md-1 "><i class="fas fa-map-marker-alt text-muted "></i> </div>
                                      <div class="col-10 col-sm-10 col-md-10 "><p class="card-text more-phone">  (510) 524-6480</p></div>
                                      </div>
                                      <div class="row">
                                      <div class="col-1 col-sm-1 col-md-1"><i class="fas fa-map-marker-alt text-muted "></i> </div>
                                      <div class="col-10 col-sm-10 col-md-10"><p class="card-text more-website">  <a href="#">Visit Website</a></p></div>
                                      </div>
                                      <div class="row">
                                      <div class="col-1 col-sm-1 col-md-1"><i class="fas fa-map-marker-alt text-muted "></i></div>
                                      <div class="col-10 col-sm-10 col-md-10"><p class="card-text more-card-address">  800 San Pable Ave, Albany, CA</p></div>
                                      </div>  
                              </div>
                            </div>
                   </div>
                   </div>
              </div><!--card --> 
        </div>

      </div>
    </div>

    <div class="carousel-item  ">
      <div class="container"> 
              
        <div class="row">
          <div class="card shadow-sm card-more-like card-one"><!--card -->
                   <div class="col-md-12">
                     <div class="row">
                            <div class="col-md-4 remove-padding-right padding-right">
                              <img src="assets/cycle.jpg" class="more-img img-fluid">
                            </div>
                            <div class="col-md-8 ">
                              <div class="card-block ">
                                <p class="card-title">HairCuts Room</p>
                                <p class="card-text"><span class="rating-number small-text">4.0</span> <span class="rating-count small-text">(678 Rating)</span></p>
                                <hr class="card-hr" />
                                <div class="row">
                                      <div class="col-1 col-sm-1 col-md-1 "><i class="fas fa-map-marker-alt text-muted "></i> </div>
                                      <div class="col-10 col-sm-10 col-md-10 "><p class="card-text more-phone">  (510) 524-6480</p></div>
                                      </div>
                                      <div class="row">
                                      <div class="col-1 col-sm-1 col-md-1"><i class="fas fa-map-marker-alt text-muted "></i> </div>
                                      <div class="col-10 col-sm-10 col-md-10"><p class="card-text more-website">  <a href="#">Visit Website</a></p></div>
                                      </div>
                                      <div class="row">
                                      <div class="col-1 col-sm-1 col-md-1"><i class="fas fa-map-marker-alt text-muted "></i></div>
                                      <div class="col-10 col-sm-10 col-md-10"><p class="card-text more-card-address">  800 San Pable Ave, Albany, CA</p></div>
                                      </div>
                              </div>
                            </div>
                   </div>
                   </div>
              </div><!--card --> 

              <div class="card shadow-sm card-more-like card-two"><!--card -->
                   <div class="col-md-12">
                     <div class="row">
                            <div class="col-md-4 remove-padding-right padding-right">
                              <img src="assets/cycle.jpg" class="more-img img-fluid">
                            </div>
                            <div class="col-md-8 ">
                              <div class="card-block ">
                                <p class="card-title">HairCuts Room</p>
                                <p class="card-text"><span class="rating-number small-text">4.0</span> <span class="rating-count small-text">(678 Rating)</span></p>
                                <hr class="card-hr" />
                                <div class="row">
                                      <div class="col-1 col-sm-1 col-md-1 "><i class="fas fa-map-marker-alt text-muted "></i> </div>
                                      <div class="col-10 col-sm-10 col-md-10 "><p class="card-text more-phone">  (510) 524-6480</p></div>
                                      </div>
                                      <div class="row">
                                      <div class="col-1 col-sm-1 col-md-1"><i class="fas fa-map-marker-alt text-muted "></i> </div>
                                      <div class="col-10 col-sm-10 col-md-10"><p class="card-text more-website">  <a href="#">Visit Website</a></p></div>
                                      </div>
                                      <div class="row">
                                      <div class="col-1 col-sm-1 col-md-1"><i class="fas fa-map-marker-alt text-muted "></i></div>
                                      <div class="col-10 col-sm-10 col-md-10"><p class="card-text more-card-address">  800 San Pable Ave, Albany, CA</p></div>
                                      </div>
                              </div>
                            </div>
                   </div>
                   </div>
              </div><!--card --> 

              <div class="card shadow-sm card-more-like card-three"><!--card -->
                   <div class="col-md-12">
                     <div class="row">
                            <div class="col-md-4 remove-padding-right padding-right">
                              <img src="assets/cycle.jpg" class="more-img img-fluid">
                            </div>
                            <div class="col-md-8 ">
                              <div class="card-block ">
                                <p class="card-title">HairCuts Room</p>
                                <p class="card-text"><span class="rating-number small-text">4.0</span> <span class="rating-count small-text">(678 Rating)</span></p>
                                <hr class="card-hr" />
                                <div class="row">
                                      <div class="col-1 col-sm-1 col-md-1 "><i class="fas fa-map-marker-alt text-muted "></i> </div>
                                      <div class="col-10 col-sm-10 col-md-10 "><p class="card-text more-phone">  (510) 524-6480</p></div>
                                      </div>
                                      <div class="row">
                                      <div class="col-1 col-sm-1 col-md-1"><i class="fas fa-map-marker-alt text-muted "></i> </div>
                                      <div class="col-10 col-sm-10 col-md-10"><p class="card-text more-website">  <a href="#">Visit Website</a></p></div>
                                      </div>
                                      <div class="row">
                                      <div class="col-1 col-sm-1 col-md-1"><i class="fas fa-map-marker-alt text-muted "></i></div>
                                      <div class="col-10 col-sm-10 col-md-10"><p class="card-text more-card-address">  800 San Pable Ave, Albany, CA</p></div>
                                      </div>  
                              </div>
                            </div>
                   </div>
                   </div>
              </div><!--card --> 
        </div>

      </div>
    </div>

    <div class="carousel-item ">
      <div class="container"> 
              
        <div class="row">
          <div class="card shadow-sm card-more-like card-one"><!--card -->
                   <div class="col-md-12">
                     <div class="row">
                            <div class="col-md-4 remove-padding-right padding-right">
                              <img src="assets/handshake.jpg" class="more-img img-fluid">
                            </div>
                            <div class="col-md-8 ">
                              <div class="card-block ">
                                <p class="card-title">HairCuts Room</p>
                                <p class="card-text"><span class="rating-number small-text">4.0</span> <span class="rating-count small-text">(678 Rating)</span></p>
                                <hr class="card-hr" />
                                <div class="row">
                                      <div class="col-1 col-sm-1 col-md-1 "><i class="fas fa-map-marker-alt text-muted "></i> </div>
                                      <div class="col-10 col-sm-10 col-md-10 "><p class="card-text more-phone">  (510) 524-6480</p></div>
                                      </div>
                                      <div class="row">
                                      <div class="col-1 col-sm-1 col-md-1"><i class="fas fa-map-marker-alt text-muted "></i> </div>
                                      <div class="col-10 col-sm-10 col-md-10"><p class="card-text more-website">  <a href="#">Visit Website</a></p></div>
                                      </div>
                                      <div class="row">
                                      <div class="col-1 col-sm-1 col-md-1"><i class="fas fa-map-marker-alt text-muted "></i></div>
                                      <div class="col-10 col-sm-10 col-md-10"><p class="card-text more-card-address">  800 San Pable Ave, Albany, CA</p></div>
                                      </div>
                              </div>
                            </div>
                   </div>
                   </div>
              </div><!--card --> 

              <div class="card shadow-sm card-more-like card-two"><!--card -->
                   <div class="col-md-12">
                     <div class="row">
                            <div class="col-md-4 remove-padding-right padding-right">
                              <img src="assets/handshake.jpg" class="more-img img-fluid">
                            </div>
                            <div class="col-md-8 ">
                              <div class="card-block ">
                                <p class="card-title">HairCuts Room</p>
                                <p class="card-text"><span class="rating-number small-text">4.0</span> <span class="rating-count small-text">(678 Rating)</span></p>
                                <hr class="card-hr" />
                                <div class="row">
                                      <div class="col-1 col-sm-1 col-md-1 "><i class="fas fa-map-marker-alt text-muted "></i> </div>
                                      <div class="col-10 col-sm-10 col-md-10 "><p class="card-text more-phone">  (510) 524-6480</p></div>
                                      </div>
                                      <div class="row">
                                      <div class="col-1 col-sm-1 col-md-1"><i class="fas fa-map-marker-alt text-muted "></i> </div>
                                      <div class="col-10 col-sm-10 col-md-10"><p class="card-text more-website">  <a href="#">Visit Website</a></p></div>
                                      </div>
                                      <div class="row">
                                      <div class="col-1 col-sm-1 col-md-1"><i class="fas fa-map-marker-alt text-muted "></i></div>
                                      <div class="col-10 col-sm-10 col-md-10"><p class="card-text more-card-address">  800 San Pable Ave, Albany, CA</p></div>
                                      </div>
                              </div>
                            </div>
                   </div>
                   </div>
              </div><!--card --> 

              <div class="card shadow-sm card-more-like card-three"><!--card -->
                   <div class="col-md-12">
                     <div class="row">
                            <div class="col-md-4 remove-padding-right padding-right">
                              <img src="assets/handshake.jpg" class="more-img img-fluid">
                            </div>
                            <div class="col-md-8 ">
                              <div class="card-block ">
                                <p class="card-title">HairCuts Room</p>
                                <p class="card-text"><span class="rating-number small-text">4.0</span> <span class="rating-count small-text">(678 Rating)</span></p>
                                <hr class="card-hr" />
                                <div class="row">
                                      <div class="col-1 col-sm-1 col-md-1 "><i class="fas fa-map-marker-alt text-muted "></i> </div>
                                      <div class="col-10 col-sm-10 col-md-10 "><p class="card-text more-phone">  (510) 524-6480</p></div>
                                      </div>
                                      <div class="row">
                                      <div class="col-1 col-sm-1 col-md-1"><i class="fas fa-map-marker-alt text-muted "></i> </div>
                                      <div class="col-10 col-sm-10 col-md-10"><p class="card-text more-website">  <a href="#">Visit Website</a></p></div>
                                      </div>
                                      <div class="row">
                                      <div class="col-1 col-sm-1 col-md-1"><i class="fas fa-map-marker-alt text-muted "></i></div>
                                      <div class="col-10 col-sm-10 col-md-10"><p class="card-text more-card-address">  800 San Pable Ave, Albany, CA</p></div>
                                      </div>  
                              </div>
                            </div>
                   </div>
                   </div>
              </div><!--card --> 
        </div>

      </div>
    </div>

  
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!-- carousel ends  -->


    
     <!-- contact start --> 
 <div class="contact-page">
     <div class="container">
     <div class="row">
       <div class="col-md-4 col-sm-12 col-xs-12 ">
         <img src="assets/logo-white.png" class="center">
         <div class="address text d-none d-sm-none d-md-block">
           <p class="company-name">Global Headquarters</p>
         <p>#31, 9th Main Rd, 6th Sector,<br>HSR Layout, Bengaluru, <br>Karnataka 560102</p>
         </div>
         
       </div>
       <div class="col-md-2 ml-md-auto col-sm-6 col-xs-12 text d-none d-sm-none d-md-block">
         <p class="company-mapping">Company</p>
         <ul class="details">
           <li><a href="#">About us</a></li>
           <li><a href="#">Team</a></li>
           <li><a href="#">Careers</a></li>
           <li><a href="#">Blog</a></li>
         </ul>
       </div>
       <div class="col-md-2 col-sm-6 col-xs-12 text d-none d-sm-none d-md-block">
         <p class="company-mapping">Contact</p>
         <ul class="details">
           <li><a href="#">Help & Support</a></li>
           <li><a href="#">Partner with us</a></li>
           <li><a href="#">List with us</a></li>
         </ul>
       </div>
       <div class="col-md-2 col-sm-6 col-xs-12 text d-none d-sm-none d-md-block">
         <p class="company-mapping">Legal</p>
         <ul class="details">
           <li><a href="#">Terms & Conditions</a></li>
           <li><a href="#">Privacy Policy</a></li>
           <li><a href="#">Cookie Policy</a></li>
           <li><a href="#">Offer Terms</a></li>
         </ul>
       </div>
     </div>
   </div>
 </div>
    
<!--footer -->
  <footer class="footer mt-auto py-2">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
      <div class="social-media">
            <ul class="my-2">
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#"><i class="fab fa-facebook-square mx-2"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram mx-2"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin mx-2"></i></a></li>
            </ul>
          </div>
    </div>
      <div class="col-md-3 copyright">
          <p class="text-center">&#64; 2018 ConvertCart</p>
      </div>
    </div>
  </div>
</footer>
<!-- footer -->
 
 </div>
 <!-- page content -->
 <div class="overlay"></div>